@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --dark-green: #4D9856;
    --green: #5EB668;
    --light-green: #76E482;
    --font: 'Ubuntu', sans-serif;
}

* {
    box-sizing: border-box;
    font-family: var(--font)
}

body {
    background-color: var(--dark-green) !important;
}

.title {
    text-align: center;
}

.title h1,
.title h2 {
    color: #ffffff
}

.title h2 {
    font-size: 36px
}

.title h2 {
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
}

.container-custom {
    height: 70%;
    min-height: 400px;
}

.buttons {
    gap: 20px;
}

.btn-dark-custom,
.btn-light-custom {

    color: #ffffff !important;
    font-weight: 700 !important;
    width: 200px;
}

.btn-dark-custom {
    background-color: var(--green) !important;
}

.btn-light-custom {
    background-color: var(--light-green) !important;
}

.page-container {
    height: 100vh;
    display: flex;
    align-items: center;
}

.navbar-custom {
    background-color: var(--light-green);
}